In [4]:
print("Random String")

Random String

In [9]:
a = "String"
b = 100
c = 3.14
d = False

print(a)
print(b)
print(c)
print(d)

String
100
3.14
False

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [11]:
e = b / 4
g = b // 4
f = b * c

print(e)
print(f)
print(g)

25.0
314.0
25

In [14]:
x = int(input("Enter Number : "))
y = int(input("enter Number : "))
z = x * y

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

Enter Number : 5
enter Number : 3
5
3
15
<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
x = float(input("Enter Number : "))
y = float(input("Enter Number : "))
z = x * y

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

Enter Number : 5
Enter Number : 3
5.0
3.0
15.0
<class 'float'>
<class 'float'>
<class 'float'>

In [19]:
str1 = "ITM "
str2 = "(sls)"

print(str1)
print(str2)

print(type(str1))
print(type(str2))

str3 = str1 + str2
print(str3)

str4 = str1 * 2
print(str4)

ITM
(sls)
<class 'str'>
<class 'str'>
ITM (sls)
ITM ITM

In [20]:
name = "Viraj"
print(name[2:])

raj

In [21]:
print(name[:6])

Viraj

In [22]:
print(name[1:3])

ir

In [23]:
print(name[-6:])

Viraj

In [36]:
print(name[:-6])

# Tuple

In [30]:
tup = ("Hello ", "World! ", "from ", "CS", 50)
for i in tup:
    print(i, end = "")

Hello World! from CS50

In [31]:
tup[1]

'World! '

In [32]:
tup[0:3]

('Hello ', 'World! ', 'from ')

In [33]:
tup[-1:-4]

()

In [34]:
tup[-4:-1]

('World! ', 'from ', 'CS')

In [35]:
tup[:]

('Hello ', 'World! ', 'from ', 'CS', 50)

In [40]:
tup1 = ('. ', "This ", "is ", "David J. Malan.")
tup2 = tup + tup1
print(tup2)

('Hello ', 'World! ', 'from ', 'CS', 50, '. ', 'This ', 'is ', 'David J. Malan.')

In [45]:
print(tup2[-1][-6:])

Malan.

In [41]:
del tup[-1]
print(tup)

TypeError: 'tuple' object doesn't support item deletion

In [42]:
del tup

In [43]:
print(tup)

NameError: name 'tup' is not defined

# List

In [47]:
ls = ["Random", "List", "is", "created", "."]
print(ls)

['Random', 'List', 'is', 'created', '.']

In [48]:
# slicing
ls[1:2]

['List']

In [49]:
len(ls)

5

In [50]:
del ls[-1]

In [51]:
ls

['Random', 'List', 'is', 'created']

In [52]:
ls.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [54]:
ls[0][0:4]

'Rand'

# Dictionary

In [55]:
d1 = {"ITM":"Baroda",
      "L.E.":"Morbi",
      "L.D.":"Ahmedabad",
      "SVNIT":"Surat",
      "R.K.":"Rajkot"}
d1

{'ITM': 'Baroda',
 'L.E.': 'Morbi',
 'L.D.': 'Ahmedabad',
 'SVNIT': 'Surat',
 'R.K.': 'Rajkot'}

In [56]:
d1.keys()

dict_keys(['ITM', 'L.E.', 'L.D.', 'SVNIT', 'R.K.'])

In [58]:
d1.values()

dict_values(['Baroda', 'Morbi', 'Ahmedabad', 'Surat', 'Rajkot'])

In [60]:
d1["MSU"] = "Baroda"
d1["DAIICT"] = "Gandhinagar"

In [61]:
d1

{'ITM': 'Baroda',
 'L.E.': 'Morbi',
 'L.D.': 'Ahmedabad',
 'SVNIT': 'Surat',
 'R.K.': 'Rajkot',
 'MSU': 'Baroda',
 'DAIICT': 'Gandhinagar'}

In [62]:
d1["DAIICT"]

'Gandhinagar'

In [63]:
print(len(d1))
print(type(d1))

7
<class 'dict'>

# math module

In [64]:
from math import pi
pi

3.141592653589793

In [65]:
r = float(input("Enter Radius : "))

print("The area of circle is :", pi * r * r)

Enter Radius : 5.25
The area of circle is : 86.59014751456868

In [66]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9